<table>
	<tr>
		<td>
			<strong><%= comment.commenter %>:</strong>
			<i> <%= comment.body %> </i>
		</td>
		<td width="5%"/>
		<td>
			<%= link_to 'Delete this Comment', [comment.article, comment],
			method: :delete,
			data: { confirm: 'Are you sure?' } %>
		</td>
	</tr>
</table>